.business {
    margin-left: 18px;
}

.price-card {
    &__business-price {
        background-color: #3A6BA5;
    }
    &__order-btn-blue {
        background-color: #3A6BA5;
    }
    &__order-btn-orange {
        background: #EC632A;
    }
}