@import 'basic.scss';
@import 'business.scss';
@import 'webshop.scss';
body {
    margin: 0;
}

.page {
    background-color: #141B1C;
    color: #FFFFFF;
    height: 100vh;
    display: flex;
    font-family: Montserrat;
    align-items: center;
    justify-content: center;
}

.column-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.column {
    width: 380px;
    height: 770px;
    background-color: #334247;
}